* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header {
    background-image: url('/assets/img/filmreel.jpg'); 
    background-size: cover;
    background-position: center;
    height: 300px; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
  }

  h1{
    font-size: 100px;
  }

  h2{
    font-size: 25px;
  }

  .navbar{
    background-color:black;
    height: 30px;
    display: flex;
    padding: 5px 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    gap: 25px;
    text-decoration: none;
    justify-content: flex-end;
  }

  .navbar a {
    color: whitesmoke;
    text-decoration: none;
  }

  .navbar a:hover {
    text-decoration:none;
    transform: scale(1.2);
  }

  .list-container {
    display: inline-block;
    text-align: left;
    width: fit-content;
    padding-left: 0;
    list-style-position: outside;
    margin: 0 auto;
    display: table;
    
}

.mainbody{
    background-color: lightgray;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: black;
}

.alist{
    font-size: 25px;
}

.mainbody ol {
    list-style: decimal;
    margin-left: 40px;
}

.mainbody ul {
    list-style: disc;
    margin-left: 40px;
}



.trailer{
    font-size: 25px;
    text-align: center;
}

.trailer1{
    text-align: center;
    font-size: 15px;
}

 img {
    max-width: 100%;
    height: auto;
    align-items: center;
}


.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  background-color: black;
}

.backtotop{
  font-size: 15px;
  text-decoration: none;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  color: whitesmoke;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
}
